@@charset "UTF-8";
/*============================================
全般的なスタイル
============================================*/

body {
       	background-color:#ffffff;	        /*ページ全体の背景色*/
       	color:#000000; 		                /*文字色*/

}

div#pagebody {
	       width:100%;		                  /*幅の指定*/

}

/*============================================
メインメニュー
============================================*/

ul#menu {
	       display:none;		                /*非表示にする*/

}

/*============================================
ヘッダ画像
============================================*/

#img_index {
	       display:none;		                /*非表示にする*/

}

#img_subpage {
       	display:none;		                  /*非表示にする*/

}

/*============================================
サブメニュー（左カラム）
============================================*/

div#submenu {
	       display:none;		                /*非表示にする*/

}

/*============================================
インフォメーション（右カラム）
============================================*/

div#info {
       	width:100%;		                    /*幅の指定*/

}

p {
       	width:100%;	                     	/*幅の指定*/

}

.infoimg_index {
       	width:200px; height:150px;	      /*画像の表示サイズを指定*/
       	margin:0px 0px 20px 20px;        	/*マージン*/
       	float:right;			                /*画像を右寄せにする*/

}

.infoimg_subpage {
       	width:400px; height:300px;	      /*画像の表示サイズを指定*/
       	margin:0px 20px 20px 0px;        	/*マージン*/
       	float:left;			                  /*画像を左寄せにする*/

}

hr {
       	width:100%;		                    /*幅の指定*/

}

/*============================================
フッタ
============================================*/
div#footer {
	       display:none;		         /*非表示にする*/

}
